@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
	border:none;
	outline:none;
	scroll-behavior:smooth;
	font-family: 'Poppins', sans-serif;
}
:root {
	--black-color: black;
	--main-color: #ffbf00;
	--white-color: white;
	--shadow-color:rgba(0,0,0,0.2);
}
html{
	font-size: 62.5%;
	overflow-x:hidden;
}
body {
	color: var(--black-color);
}
.header{
	position:fixed;
	top: 0;
	left: 0;
	width:100%;
	padding: 1.5rem 7% ;
	background: transparent;
	display: flex;
	align-items:center;
	z-index: 100;
	transition:0.5s;
}
.header.sticky{
	background:var(--white-color);
 	box-shadow: 0.1rem 0.1rem var(--shadow-color);
}
.logo{
	font-size: 2.5rem;
	color: var(--black-color);
	font-weight: 700;
	cursor:pointer;
	margin-right:380px;
	margin-top: 10px;
}
.navbar{
	border: 1px solid rgb(71, 69, 69);
	padding: 10px;
	border-radius: 10px;
	background-color: var(--black-color);
}
.navbar a{
	position:relative;
	font-size: 14px;
	color: var(--white-color);
	margin-right: 2.5rem;
}
.header.sticky .navbar a{
	color: var(--white-color);
}
.navbar a.active::before {
	content: '';
	position: absolute;
	left:0;
	width: 70%;
	height:0.2rem;
	background:var(--main-color);
	bottom:-4px;
}
.header.sticky .navbar a::before{
	background:var(--main-color);
}
.social-media{
	margin-left: 355px;
}
.social-media a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 50%;
	font-size: 2rem;
	color: var(--white-color);
	margin-left: 10px;
	transition:0.5s ease;
	background-color: var(--main-color);
}
.social-media a:hover {
	background:var(--black-color);
	color: var(--white-color);
}
#menu-icon{
	font-size: 3.6rem;
	color: var(--main-color);
	display: none;
}
/* -------------------------------------- Home ----------------------------------- */

section{
	min-height: 100vh;
	padding: 10rem 7% 2rem;
}
.home{
	display: flex;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background: #FFF7DF;
}
.home:after{
	content: "";
	width: 1000px;
	height: 1000px;
	border-radius: 50%;
	position: absolute;
	top: -200px;
	left: -200px;
	background-color:var(--white-color);
	z-index: -1;
}
.home .home-content{
	max-width: 44rem;
	margin-top: 120px;
}
.home-content h3{
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 0.8;
}
.home-content h1{
	font-size: 4.5rem;
	font-weight: 700;
	margin-bottom: 3rem;
}
.home-content h1 span{
	color:var(--main-color) 
}
.home-content p{
	font-size: 1.6rem;
	text-align: justify;
	margin-bottom: 20px;
}
.home img{
	width: 320px;
	height: 500px;
	margin-left: 450px;
	margin-top: 50px;
	position: relative;
	z-index: 10;
}
.img-shadow{
	width: 21.3%;
	height: 66%;
	background-color: #FFF7DF;
	position: absolute;
	margin: 68px 0px 0 908px ;
	border: 6px solid var(--black-color);
	z-index: 5;
}
.btn{
	display: inline-block;
	padding: 1.2rem 2.8rem;
	background: var(--main-color);
	border-radius: 0.6rem;
	box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
	font-size: 1.6rem;
	color: var(--white-color);
	letter-spacing: 0.1rem;
	font-weight: 700;
	border: 0.2rem solid  transparent;
	transition:0.5s ease;
}
.btn:hover {
	background: transparent;
	color: var(--main-color);
	border-color: var(--main-color);
}
span{
	color: var(--main-color);
}
.heading{
	font-size: 3.5rem;
	text-align: center;
}
/* -------------------------------------- About ----------------------------------- */
.about{
	margin-bottom: -50px;
}
.row{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
.about-col-1{
	flex-basis: 50%;
}
.about-col-1 img {
	margin-top: 15px;
	width: 40vw;
	position: relative;
	z-index: 10;
}
.about-col-1 .frame {
    width: 80.5vh;
    height: 80.4vh;
    background-color: var(--black-color);
    position: absolute;
	margin-top: -618px;
    transform: rotate(5deg);
}
.about-col-2{
	flex-basis: 46%;
}
.about-col-2 p{
	font-weight: 500;
	text-align: justify;
}
.sub-title{
	font-size:4.5rem;
	font-weight:700;
	margin-bottom: 15px;
}
.sub-title span{
	color: var(--main-color);
}
.about-col-2 p{
	font-size:1.5rem;
}
.eduExp{
	margin-top: 50px;
}
.eduExp h1{
	text-align: center;
	font-size: 30px;
	padding: 35px 0 20px;
}
.eduExp p{
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	padding: 0 350px 50px;
}
.eduExp-container{
	display: flex;
	padding-bottom: 50px;
}
.eduExp-container .education{
	background-color:#FFF7DF;
	display:flex ;
	padding: 20px;
	margin: 0 75px;
}
.eduExp-container .experience{
	background-color:#FFF7DF;
	display:flex ;
	padding: 20px;
}
.eduExp-container h2{
	font-size: 18px;
	padding-top: 10px;
}
.eduExp-container .date{
	display: flex;
}
.eduExp-container i{
	font-size: 33px;
	background-color:var(--main-color) ;
	border-radius: 50%;
	padding: 7px;
	margin-left: 20px;
}
.eduExp-container p{
	font-size: 15px;
	font-weight: 600;
	padding: 2px 10px 0;
	margin: 11px 0 10px -5px;
	background-color: var(--main-color);
}

/* -------------------------------------- Skills----------------------------------- */
.skills-container{
	margin-top: 20px;
	background-color: #FFF7DF;
	width: 100%;
	height: 75vh;
	padding: 50px 130px;
	display: flex;
}
.tech-stack{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	width: 385px;	
	text-align: center;
}
.tech-stack img{
	width:60px;
	margin: 25px 30px 10px;
}
.tech-stack div{
	transition: transform 0.3s ease;
	cursor: pointer;
}
.tech-stack div:hover{
	transform: scale(1.1) translateY(-10px);
}
.language{
	padding: 20px;
	margin-left: 80px;
	max-width: 600px;
}
.language .title h1{
	font-size: 30px;
}
.language .title p{
	font-size: 15px;
}
.language-container{
	display: flex;
	margin-top: 30px;
}
.language-container .english , .hindi {
	width: 300px;
	background-color: var(--white-color);
	padding: 12px 18px;
	display: flex;
	border-radius: 10px;
	margin-right: 20px;
	cursor: pointer;
	transition: transform 0.3s ease;
}
.language-container .english:hover , .hindi:hover{
	transform: scale(1.1) translateY(-1px);
}
.language-container .english .count , .hindi .count{
	width: 50px;
	background-color: var(--main-color);
	padding: 13px 10px;
	border-radius: 50%;
	font-size: 15px;
	font-weight: 700;
}
.language-container .english h1, .hindi h1{
	margin: 12px 50px 0 30px;
	font-size: 17px;
}
/* --------------------------------------Hire me ------------------------------------ */

.hireMe{
	background-color: var(--main-color);
	display: flex;
	justify-content:space-between;
}
.hireMe h1{
	font-size: 20px;
	margin: 50px 0 50px 107px;
}

.hireMe a{
	font-size: 15px;
	font-weight: 700;
	border-radius: 10px;
	margin: 40px 107px 40px 0;
	padding: 12px 25px;
	background-color: var(--white-color);
	color: var(--black-color);
}
.hireMe a:hover{
	color: var(--white-color);
	background-color:var(--black-color);
}
/* -------------------------------------- Projects ----------------------------------- */

.project-container{
	display: flex;
	flex-wrap: wrap;
	margin-top: 4rem;
	justify-content: center;
}
.project-box{
	width: 420px;
	height: 550px;
	background-color:#FFF7DF;
	border-radius: 20px;
	margin-left: 12px;
	margin-bottom: 20px;
	cursor: pointer;
	transition: transform 0.3s ease;
}
.project-box:hover{
	transform: scale(1) translateY(-20px);
}
.project-box img{
	width: 420px;
	border-radius: 20px;
}
.project-box .discription{
	padding:10px 20px;
}
.discription h1{
	font-size: 18px;
}
.discription p{
	font-size: 12.4px;
	padding-top: 2px;
	text-align: justify;
}
.project-links .btn1{
	font-size: 1.2rem;
	padding: 10px 15px; 
	margin-top: 10px ;
	color: var(--black-color);
}

/* -------------------------------------- Contact ----------------------------------- */

.contact{
	margin-top: -50px;
}
.contact h2{
	margin-bottom: 4rem;
}
.contact-conatiner{
	display: flex;
}
.contact-info {
	background:var(--white-color);
	padding: 30px;
	width: 500px;
	box-shadow: 0 3px 10px 0 rgba(38, 59, 94, .1)
}
.contact-info h1 {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 20px
}
.contact-info p {
	font-size: 16px;
	text-align: justify;
}
.contact-info ul {
	margin-top: 30px;
	padding: 10px 0 0;
	list-style: none
}
.contact-info li {
	font-size: 18px;
	font-weight: 500;
	display: flex;
}
.contact-info li i {
	width: 35px;
	height: 35px;
	padding: 5px;
	color:var(--white-color);
	background-color: var(--main-color);
	font-size: 25px;
	border-radius: 50%;
}
.contact-info li i:hover{
	color:var(--white-color);
	background-color:var(--black-color) ;
}
.contact-info li span {
	padding-top: 4px;
	padding-left: 20px;
	color: var(--black-color);
}
.contact-info li+li {
	padding-top: 30px
}
.contact form {
	width: 700px;
	margin-left: 10rem;
}
.contact form .input-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
	width: 100%;
	padding: 1.5rem;
	font-size: 1.6rem;
	background: var(--bg-color);
	border-radius: 0.8rem;
	margin: 0.7rem 0;
	box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
	border: 1px solid var(--white-color);
}
.contact form .input-box input{
	width: 49%;
}
.contact form textarea {
	resize: none;
}
.contact form .btn{
	margin-top: 2rem;
	cursor: pointer;
	width: 700px;
}
/* ----------------------------Footer---------------------------- */
.footer{
	display: flex;
	justify-content: space-between;
	background-color: var(--black-color);
	color: var(--white-color);
}
.social-icons{
	margin-left: 95px;
	padding: 20px 0;
}
.social-icons a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 50%;
	font-size: 2rem;
	color:  var(--white-color);
	margin-right: 10px;
	transition:0.5s ease;
	background-color: var(--main-color);
}
.social-icons a:hover {
	background:var(--white-color);
	color:var(--black-color);
}
.copyright p{
	font-size: 13px;
	margin-right: 113px;
	padding: 20px 0;
}
.copyright a{
	font-size: 15px;
	text-decoration: none;
	color:var(--main-color);
	font-weight: 600;
}

/* -------------------------------------- BreakPoint ----------------------------------- */
/* 
 @media (max-width:1200px) {
	html{
		font-size: 55%;
	}
}
@media (max-width:991px){
	.home .home-content{
		max-width: 50rem;
	}
	.home-img img{
		display: none
	}
	.contact{
		min-height: auto;
	}
}
@media (max-width:768px){
	#menu-icon{
		display: block;
	}
	
	.home-content h3{
		font-size: 2.6rem;
	}
	.home-content h1{
		font-size: 5rem;
	}
	.home-content .social-media a{
		margin: 2.5rem .75rem;
	}
}  */
@media (max-width: 480px){
	html{
		font-size: 50%;
	}
	.header{
		padding:0 3% 10px;
	}
	.header #menu-icon{
		margin-top: 10px;
		font-size: 35px;
	}
	.navbar{
		position: absolute;
		top: 100%;
		left: 5px;
		width: 98%;
		padding: 1rem 3%;
		background: var(--white-color);
		border: 0.1rem solid rgba(0,0,0,0.2);
		box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
		display: none;
	}
	.navbar.active{
		display: block;
	}
	.navbar a{
		display: block;
		font-size: 1.8rem;
		font-weight: 600;
		margin: 1rem 0;
		padding: 3px 0;
		text-align: center;
		color: var(--black-color);
		border: 1px solid rgba(0,0,0,0.2);
		border-radius: 10px;
	}
	.header.sticky .navbar a{
		color: var(--black-color);
	}
	.navbar a.active::before{
		background: var(--main-color);
		opacity: 1;
	}
	.navbar a.active {
		background-color: #ffe28a;
		border: 0;
	}
	.navbar a::before {
		display: none;
	}
	.social-media{
		
		margin-left: -130px;
		margin-right: 10px;
		margin-top: 10px;
	}
	#menu-icon{
		display: flex;
	}

	/* --------------------------- Home ------------------------- */
	
	section{
		padding: 5rem 3% 0;
	}
	.home{
		padding: 0 4% 0.1rem;
		background-color: #FFF7DF;
	}
	.home:after{
		content: "";
		width: 800px;
		height: 800px;
		border-radius: 50%;
		position: absolute;
		top: -62px;
		left: -480px;
		background-color:var(--white-color);
		z-index: -1;
	}
	.home .home-content{
		margin-top: 220px;
	}
	.home-content h3{
		font-size: 2rem;
	}
	.home .home-content h1{
		display: flex;
		font-size: 4rem;
	}
	.home-content p{
		font-size: 1.4rem;
		text-align: justify;
		margin-bottom: 20px;
	}

	/* -----------------------about--------------------- */

	.about-col-1 .frame{
		width: 45vh;
		height: 45vh;
		margin-top: -308px;
		margin-left: 10px;
	}
	.about-col-1 img{
		margin-left: 10px;
		width: 38rem;
	}
	.about-col-2{
		flex-basis: 100%;
	}
	.sub-title{
		text-align: center;
		padding-top: 2rem;
		font-size: 3rem;
	}
	.eduExp{
		margin-top: 10px;
	}
	.eduExp h1{
		font-size: 23px;
	}
	.eduExp p{
		font-size: 13px;
		padding: 0 5px 50px;
	}
	.eduExp-container{
		display:block;
	}
	.eduExp-container .education{
		margin: 0;
		margin-bottom: 20px;
	}
	.eduExp-container h2{
		font-size: 15px;
		margin: -15px;
	}
	.eduExp-container .date{
		display: flex;
	}
	.eduExp-container i{
		font-size: 33px;
		background-color:var(--main-color) ;
		border-radius: 50%;
		padding: 7px;
		margin-left: 20px;
	}
	.eduExp-container p{
		font-size: 15px;
		font-weight: 600;
		padding: 2px 10px 0;
		margin: 11px 0 10px -5px;
		background-color: var(--main-color);
	}

	/* -------------------- Skills ---------------------- */

	.skills-container{
		height: 127vh;
		padding:10px;
		display: block;
		border-radius: 0 0 10px 10px;

	}
	.skills-container .skills{
		display: flex;
		padding: 10px;
	}
	.skills-container .skills img{
		width:60px;
		margin: 25px 17px 10px;
	}
	.contact form .input-box input{
		width: 100%;
	}
	.language{
		padding: 0px;
		margin: 0;
		width: 300px;
	}
	.language .title h1{
		font-size: 20px;
		margin: 50px 0 20px 85px;
	}
	.language .title p{
		font-size: 13px;
		text-align: center;
		margin-left: 15px;
	}
	.language-container{
		display: block;
	}
	.language-container .english , .hindi{
		width: 310px;
		margin-bottom: 10px;
	}

	/* ---------------------- Hire Me ---------------------- */

	.hireMe{
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}
	.hireMe h1{
		font-size: 14px;
		text-align: center;
		padding: 15px 15px 0px;
	}
	.hireMe a{
		font-size: 12x;
		margin: 20px 105px;
		padding: 10px 20px;
	}

	/* ---------------------------Project----------------- */

	.project-box{
	
		margin-left: 0;
	}
	.project-box img{
		width: 330px;
	}

	/*--------------------------Contact--------------------*/
	
	.contact-conatiner{
		display: block;
	}
	.contact-info{
		width: 330px;
		margin-bottom: 20px;
	}
	.contact form {
		width: 330px;
		margin-left:0;
	}
	.contact form .btn{
		width: 330px;
	}

	/*------------------------------Footer---------------------*/

	.footer{
		display: block;
		margin-top: 20px;
	}
	.social-icons{
		text-align: center;
		margin: 0;
		padding:10px 0;
	}
	.copyright p{
		margin-left: 0px;
		padding:0 6px 10px;
	}
}	

