@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
	border:none;
	outline:none;
	scroll-behavior:smooth;
	font-family: 'Poppins', sans-serif;
}
:root {
	--bg-color:rgb(21, 20, 20);
	--text-color: white;
	--main-color:#a936e3;
	--white-color:#fdfdfd;
	--shadow-color:rgba(0,0,0,0.2);
}
html{
	font-size: 62.5%;
	overflow-x:hidden;
}
body {
	background: var(--bg-color);
	color: var(--text-color);
}
.header{
	position:fixed;
	top: 0;
	left: 0;
	width:100%;
	padding: 1.5rem 7% ;
	background: transparent;
	display: flex;
	align-items:center;
	z-index: 100;
	transition:0.5s;
}
.header.sticky{
	background:var(--bg-color);
 	box-shadow: 0.1rem 0.1rem var(--shadow-color);
}
.logo{
	font-size: 2.2rem;
	color: var(--main-color);
	font-weight: 600;
	cursor: default;
	margin-right:390px;
	margin-top: 10px;
}
.navbar{
	border: 1px solid rgb(71, 69, 69);
	padding: 10px;
	border-radius: 10px;
	background-color: black;
}
.navbar a{
	position:relative;
	font-size: 14px;
	color: var(--text-color);
	margin-right: 2.5rem;
}
.header.sticky .navbar a{
	color: var(--text-color);
}
.navbar a.active::before {
	content: '';
	position: absolute;
	left:0;
	width: 70%;
	height:0.2rem;
	background:var(--main-color);
	bottom:-4px;
}
.header.sticky .navbar a::before{
	background:var(--main-color);
	opacity: 0.7;
}
.social-media{
	margin-left: 355px;
}
.social-media a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3.2rem;
	height: 3.2rem;
	border: 1px solid  var(--main-color);
	border-radius: 50%;
	font-size: 2rem;
	color:  white;
	margin-left: 10px;
	transition:0.5s ease;
}
.social-media a:hover {
	background:var(--main-color);
	color: var(--white-color);
}
#menu-icon{
	font-size: 3.6rem;
	color: var(--main-color);
	display: none;
}
/* -------------------------------------- Home ----------------------------------- */

section{
	min-height: 100vh;
	padding: 10rem 7% 2rem;
}
.home{
	display: flex;
	align-items:center;
}
.home .home-content{
	max-width: 44rem;
}
.home-content h3{
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 0.3;
}
.home-content h1{
	font-size: 4.5rem;
	font-weight: 700;
	margin-bottom: 3rem;
}
.home-content h1 span{
	color:var(--main-color) 
}
.home-content p{
	font-size: 1.6rem;
}

.btn{
	display: inline-block;
	padding: 1.2rem 2.8rem;
	background: var(--main-color);
	border-radius: 0.6rem;
	box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
	font-size: 1.6rem;
	color: var(--white-color);
	letter-spacing: 0.1rem;
	font-weight: 600;
	border: 0.2rem solid  transparent;
	transition:0.5s ease;
}
.btn:hover {
	background: transparent;
	color: var(--main-color);
	border-color: var(--main-color);
}
.home-img img{
	width: 40vw;
	margin-left: 220px;
	border-radius: 4%;
}
span{
	color: var(--main-color);
}
.heading{
	font-size: 3.5rem;
	text-align: center;
}

/* -------------------------------------- About ----------------------------------- */
.row{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
.about-col-1{
	flex-basis: 50%;
}
.about-col-1 img {
	width: 40vw;
	border-radius: 10px;
	transition:transform 0.5s;
}
.about-col-1:hover img{
	transform:scale(1.05);	
}
.about-col-2{
	flex-basis: 46%;
}
.sub-title{
	font-size:4.5rem;
	font-weight:700;
	margin-bottom: 15px;
}
.sub-title span{
	color: var(--main-color);
}
.about-col-2 p{
	font-size:1.5rem;
}

.Timeline-Section{
	display: flex;
	color: #000000;
	margin-bottom:-100px;
}
.timelineEdu{
	position: relative;
	margin: 50px auto;
}
.timelineEdu h1{
	margin: 0px 0 15px 50px;
	color: #a936e3	;
	font-size: 22px;
}
.container-1{
	padding: 10px 50px;
	position: relative;
	width: 100%;
}
.text-box{
	padding: 15px 20px;
	background: #888686;
	position: relative;
	border-radius: 6px;
	font-size: 12px;
	width: 900;
}
.text-box p{
	font-size: 10px
}
.container-1 img{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	right: -10px;
	top: 25px;
	z-index: 10;
}
.timelineEdu::after{
	content: "";
	position: absolute;
	width: 4px;
	height: 72%;
	background-color: #fdfdfd;
	top: 0;
	left: 100%;
	margin-left: 0px;
	margin-top: 60px;
}
.left-container-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 15px;
	z-index: 1;
	border-top: 8px solid transparent;
	border-bottom:  8px solid transparent;
	border-left: 12px solid #888686;
	right: -12px;
}
.right-container-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 15px;
	z-index: 1;
	border-top: 8px solid transparent;
	border-bottom:  8px solid transparent;
	border-right: 12px solid #888686 ;
	left: -12px;
}
.timelineExp{
	position: relative;
	margin: 50px auto;
}
.timelineExp h1{
	margin: 0px 0 15px 387px;
	color: #a936e3	;
	font-size: 22px;
}



/* .about-body{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items:center;
}
.container-1{
	width: 100%;
	padding: 35px 10%;
}
.container-1{
	padding-right: calc(10% - 30px);
}
.row-1{
	
	margin: -200px;
	margin-top: -250px;
}
main.row-1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.col header.title{
	color: #a936e3;
	padding:0 0 20px 30px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaea;
	background-color:black;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
}
.col .contents .box::before{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	right:calc(100% + 25px);
	top: -2px;
	background-color: white;
	border: 2px solid white;
}
.box h4{
	position: relative;
	color: #a936e3;
}
@media (max-width:768px ) {
	main.row-1{
		grid-template-columns: 1fr;
		width: 120%;
		margin:0;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
} */
/* -------------------------------------- Skills----------------------------------- */
/* .tech{
	margin: 50px 100px;
	background-color:rgb(179, 82, 21);
	width: 20%;
	display: flex;
	gap: 50px;
}
.tech h2{
	font-size: 2rem;
	margin-left: -15px;
}
.tech h3{
	font-size: 2rem;
	margin-left: 0px;
}
.tech img{
	width: 80px;
	margin: 20px 0;
} */

.skills{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20% ;
	align-items: center;
  }
  .skill-icon img{
	width: 80px;
	height: 110px;
	object-fit: fill;
	padding-top: 10px;
	padding-bottom: 15px;
  }
  
  @media only screen and (max-width: 580px) {
  
	.skill-icon img{
	  width: 40px; 
	  height: 60px;
	  object-fit: fill;
	  padding-top: 5px;
	  padding-bottom: 10px;
	}
  
  }
/* -------------------------------------- Projects ----------------------------------- */

.featured-projects-box,
.other-projects-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3.5rem;
	padding-bottom: 10rem;
}
.project {
	display: flex;
	flex-direction: column-reverse;
	max-width: 35rem;
	max-height: 58rem;
	background: rgb(38, 50, 67);
	box-shadow: 0 1rem 2rem 0 rgba(27, 27, 27, 0.1);
	border-radius: 1.2rem;
}
.project-details-box {
	padding: 2.5rem;
	padding-bottom: 0;
}
.project-main-info span,
h3 {
	margin: 0;
	text-transform: uppercase;
	font-size: 2rem;
}
.project-main-info p{
	font-size: 1.2rem;
	text-align: justify;
	margin-top: 0.5rem;
}
.project-links {
	display: flex;
	align-items: center;
	gap: 2rem;
}
.project-links .btn1{
	font-size: 1rem;
	padding: 10px 15px; 
	margin-top: 20px ;
}

.project-image-box {
	position: relative;
}

.project-img-link {
	display: block;
	width: 100%;
	height: 100%;
}

.project-img-link>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1.2rem 1.2rem 0 0;
}

.project-img-link>img:hover {
	transform: none;
}

/* -------------------------------------- Contact ----------------------------------- */

.contact h2{
	margin-bottom: 3rem;
}
.contact form {
	max-width: 70rem;
	margin:1rem auto;
	text-align: center;
	margin-bottom: 3rem;
	
}
.contact form .input-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
	width: 100%;
	padding: 1.5rem;
	font-size: 1.6rem;
	color:var(--text-color);
	background: var(--bg-color);
	border-radius: 0.8rem;
	margin: 0.7rem 0;
	box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
	border: 1px solid white;
}
.contact form .input-box input{
	width: 49%;
}
.contact form textarea {
	resize: none;
}
.contact form .btn{
	margin-top: 2rem;
	cursor: pointer;
}

/* -------------------------------------- BreakPoint ----------------------------------- */

@media (max-width:1200px) {
	html{
		font-size: 55%;
	}
}
@media (max-width:1024px){
	.header{
		padding: 2rem 3%;
	}
	section{
		padding: 10rem 3% 2rem;
	}
}
@media (max-width:991px){
	
	.navbar a.active::before{
		background: var(--main-color);
		opacity: 1;
	}
	.home .home-content{
		max-width: 50rem;
	}
	.home-img img{
		display: none
	}
	.contact{
		min-height: auto;
	}
}
@media (max-width:768px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: var(--bg-color);
		border-top: 0.1rem solid rgba(0,0,0,0.2);
		box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
		display: none;
	}
	.navbar.active{
		display: block;
	}
	.navbar a{
		display: block;
		font-size: 2rem;
		margin: 3rem 0;
		color: var(--text-color);
	}
	.navbar a:nth-child(1),
	.navbar a:nth-child(2){
		color: var(--text-color);
	}
	.navbar a.active {
		color: var(--main-color);
	}
	.navbar a::before {
		display: none;
	}
	.home{
		padding: 0 1% 2rem;
		justify-content: center;
		text-align: center;
	}
	.home-content h3{
		font-size: 2.6rem;
	}
	.home-content h1{
		font-size: 5rem;
	}
	.home-content .social-media a{
		margin: 2.5rem .75rem;
	}
}
@media (max-width: 450px){
	html{
		font-size: 50%;
	}
	.home{
		padding: 0 3% 0.1rem;
	}
	.about-col-1 img{
		width: 41rem;;
	}
	.about-col-2{
		flex-basis: 100%;
	}
	.sub-title{
		text-align: center;
		padding-top: 5rem;
		padding-bottom: 3rem;
		font-size: 3rem;
	}
	.contact form .input-box input{
		width: 100%;
	}
}

/*---------------------------- Meadia Query For Project Sestion -------------------------------- */

@media screen and (min-width: 720px) {
	.featured-projects-box {
	  flex-flow: row wrap;
	  justify-content: space-evenly;
	}
}
  
@media screen and (min-width: 1024px) {
.separator~.project {
	position: relative;
	min-width: 100%;
	gap: 2.5rem;
	margin-top: 4.5rem;
	background: none;
}
.separator~.project:nth-child(even) {
	flex-direction: row;
}
.separator~.project:nth-child(odd) {
	flex-direction: row-reverse;
	text-align: right;
}
.project {
	box-shadow: none;
}
.project-details-box {
	position: relative;
	margin-top: 3rem;
	padding: 0;
	max-width: 60%;
}
.project-main-info {
	position: relative;
	padding: 2rem;
	border-radius: 0.8rem;
	background: rgb(38, 50, 67);
	box-shadow: 0 1rem 3rem 0 rgba(27, 27, 27, 0.2);
	z-index: 1;
}
.project-main-info::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	bottom: 0;
	border-radius: 0.8rem;
	transform: skew(-15deg);
	background-color: rgb(38, 50, 67);
	z-index: -2;
}
.separator~.project:nth-child(even) .project-main-info::before {
	top: 0;
	left: 3.7rem;
}
.separator~.project:nth-child(odd) .project-main-info::before {
	top: 0;
	right: 3.7rem;
	bottom: 0;
	border-radius: 0.8rem;
	transform: skew(-10deg);
	background-color: rgb(38, 50, 67);
	z-index: -2;
}

.separator~.project:nth-child(odd) .project-links {
	justify-content: flex-start;
}

.separator~.project:nth-child(even) .project-image-box {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	align-self: stretch;
}

.separator~.project:nth-child(odd) .project-image-box {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	align-self: stretch;
}

.separator~.project.project3 .project-main-info::before {
	left: 3.7rem;
}

.project-tools p {
	display: inline-block;
}

.project-image-box::before {
	top: -3rem;
	bottom: 0;
	height: 120%;
}

.project-img-link>img {
	border-radius: 1.2rem;
}

.project-img-link>img:hover {
	transform: scale(1.05);
}

.notable-projects-box {
	width: 100%;
	flex-flow: row;
}

.side-project {
	max-width: 33.33%;
}

.img-box {
	position: relative;
	right: 0;
	top: -7.5rem;
}
}

@media screen and (min-width: 1440px) {
.project {
	height: 35rem;
}

.project-image-box {
	min-height: 100%;
}

.project-image-box img {
	height: 100%;
}
}