@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
	border:none;
	outline:none;
	scroll-behavior:smooth;
	font-family: 'Poppins', sans-serif;
}
:root {
	--black-color: black;
	--main-color: #ffbf00;
	--white-color: white;
	--shadow-color:rgba(0,0,0,0.2);
}
html{
	font-size: 62.5%;
	overflow-x:hidden;
}
body {
	color: var(--black-color);
}
.header{
	position:fixed;
	top: 0;
	left: 0;
	width:100%;
	padding: 1.5rem 7% ;
	background: transparent;
	display: flex;
	align-items:center;
	z-index: 100;
	transition:0.5s;
}
.header.sticky{
	background:var(--white-color);
 	box-shadow: 0.1rem 0.1rem var(--shadow-color);
}
.logo{
	font-size: 2.5rem;
	color: var(--black-color);
	font-weight: 700;
	cursor:pointer;
	margin-right:380px;
	margin-top: 10px;
}
.navbar{
	border: 1px solid rgb(71, 69, 69);
	padding: 10px;
	border-radius: 10px;
	background-color: var(--black-color);
}
.navbar a{
	position:relative;
	font-size: 14px;
	color: var(--white-color);
	margin-right: 2.5rem;
}
.header.sticky .navbar a{
	color: var(--white-color);
}
.navbar a.active::before {
	content: '';
	position: absolute;
	left:0;
	width: 70%;
	height:0.2rem;
	background:var(--main-color);
	bottom:-4px;
}
.header.sticky .navbar a::before{
	background:var(--main-color);
}
.social-media{
	margin-left: 355px;
}
.social-media a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 50%;
	font-size: 2rem;
	color: var(--white-color);
	margin-left: 10px;
	transition:0.5s ease;
	background-color: var(--main-color);
}
.social-media a:hover {
	background:var(--black-color);
	color: var(--white-color);
}
#menu-icon{
	font-size: 3.6rem;
	color: var(--main-color);
	display: none;
}
/* -------------------------------------- Home ----------------------------------- */

section{
	min-height: 100vh;
	padding: 10rem 7% 2rem;
}
.home{
	display: flex;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background: #FFF7DF;
}
.home:after{
	content: "";
	width: 1000px;
	height: 1000px;
	border-radius: 50%;
	position: absolute;
	top: -200px;
	left: -200px;
	background-color:var(--white-color);
	z-index: -1;
}
.home .home-content{
	max-width: 44rem;
	margin-top: 120px;
}
.home-content h3{
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 0.8;
}
.home-content h1{
	font-size: 4.5rem;
	font-weight: 700;
	margin-bottom: 3rem;
}
.home-content h1 span{
	color:var(--main-color) 
}
.home-content p{
	font-size: 1.6rem;
	text-align: justify;
	margin-bottom: 20px;
}
.home img{
	width: 320px;
	height: 500px;
	margin-left: 450px;
	margin-top: 50px;
	position: relative;
	z-index: 10;
}
.img-shadow{
	width: 21.3%;
	height: 66%;
	background-color: #FFF7DF;
	position: absolute;
	margin: 68px 0px 0 908px ;
	border: 6px solid var(--black-color);
	z-index: 5;
}
.btn{
	display: inline-block;
	padding: 1.2rem 2.8rem;
	background: var(--main-color);
	border-radius: 0.6rem;
	box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
	font-size: 1.6rem;
	color: var(--white-color);
	letter-spacing: 0.1rem;
	font-weight: 700;
	border: 0.2rem solid  transparent;
	transition:0.5s ease;
}
.btn:hover {
	background: transparent;
	color: var(--main-color);
	border-color: var(--main-color);
}
.home-img img{
	width: 40vw;
	margin-left: 220px;
	border-radius: 4%;
}
span{
	color: var(--main-color);
}
.heading{
	font-size: 3.5rem;
	text-align: center;
}
/* -------------------------------------- About ----------------------------------- */
.row{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
.about-col-1{
	flex-basis: 50%;
}
.about-col-1 img {
	width: 40vw;
	position: relative;
	z-index: 10;
}
.about-col-1 .frame {
    width: 80.5vh;
    height: 80.4vh;
    background-color: var(--black-color);
    position: absolute;
	margin-top: -618px;
    transform: rotate(5deg);
}
.about-col-2{
	flex-basis: 46%;
}
.about-col-2 p{
	font-weight: 500;
	text-align: justify;
}
.sub-title{
	font-size:4.5rem;
	font-weight:700;
	margin-bottom: 15px;
}
.sub-title span{
	color: var(--main-color);
}
.about-col-2 p{
	font-size:1.5rem;
}
.eduExp{
	margin-top: 50px;
}
.eduExp h1{
	text-align: center;
	font-size: 30px;
	padding: 35px 0 20px;
}
.eduExp p{
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	padding: 0 350px 50px;
}
.eduExp-container{
	display: flex;
	padding-bottom: 50px;
}
.eduExp-container .education{
	background-color:#FFF7DF;
	display:flex ;
	padding: 20px;
	margin: 0 75px;
}
.eduExp-container .experience{
	background-color:#FFF7DF;
	display:flex ;
	padding: 20px;
}
.eduExp-container h2{
	font-size: 18px;
	padding-top: 10px;
}
.eduExp-container .date{
	display: flex;
}
.eduExp-container i{
	font-size: 33px;
	background-color:var(--main-color) ;
	border-radius: 50%;
	padding: 7px;
	margin-left: 20px;
}
.eduExp-container p{
	font-size: 15px;
	font-weight: 600;
	padding: 2px 10px 0;
	margin: 11px 0 10px -5px;
	background-color: var(--main-color);
}

/* -------------------------------------- Skills----------------------------------- */
.skills-container{
	margin-top: 20px;
	background-color: #FFF7DF;
	width: 100%;
	height: 75vh;
	padding: 50px 130px;
	display: flex;
}
.skills-container .skills{
	display: flex;
	flex-wrap: wrap;
	width: 385px;	
}
.skills-container .skills img{
	width:60px;
	margin: 25px 30px 10px;
}
.skills-container .skills div{
	transition: transform 0.3s ease;
	cursor: pointer;
}
.skills-container .skills div:hover{
	transform: scale(1.1) translateY(-10px);
}
.language{
	padding: 20px;
	margin-left: 80px;
	width: 600px;
}
.language .title h1{
	font-size: 30px;
}
.language .title p{
	font-size: 15px;
}
.language-container{
	display: flex;
	margin-top: 30px;
}
.language-container .english , .hindi {
	width: 500px;
	background-color: var(--white-color);
	padding: 12px 18px;
	display: flex;
	border-radius: 10px;
	margin-right: 20px;
	cursor: pointer;
	transition: transform 0.3s ease;
}
.language-container .english:hover , .hindi:hover{
	transform: scale(1.1) translateY(-1px);
}
.language-container .english .count , .hindi .count{
	height: 50px;
	width: 50px;
	background-color: var(--main-color);
	padding: 13px 10px;
	border-radius: 50%;
	font-size: 15px;
	font-weight: 700;
}
.language-container .english h1, .hindi h1{
	margin: 12px 50px 0 30px;
	font-size: 17px;
}
/* --------------------------------------Hire me ------------------------------------ */

.hireMe{
	background-color: var(--main-color);
	min-height: 0;
	display: flex;
}
.hireMe h1{
	font-size: 20px;
	height: 50px;
	margin-top: -55px;
	cursor: pointer;
}
.hireMe .hireBtn{
	font-size: 15px;
	font-weight: 700;
	border-radius: 10px;
	margin: -66px 0 20px 715px;
	padding: 12px 25px;
	background-color: var(--white-color);
	color: var(--black-color);
}
.hireMe .hireBtn:hover{
	color: var(--white-color);
	background-color:var(--black-color);
}
/* -------------------------------------- Projects ----------------------------------- */

.featured-projects-box,
.other-projects-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3.5rem;
	padding-bottom: 10rem;
}
.project {
	display: flex;
	flex-direction: column-reverse;
	max-width: 35rem;
	max-height: 58rem;
	background: #FFF7DF;
	border-radius: 1.2rem;
}
.project-details-box {
	padding: 2.5rem;
	padding-bottom: 0;
}
.project-main-info span,
h3 {
	margin: 0;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 600;
}
.project-main-info p{
	font-size: 1.3rem;
	text-align: justify;
	margin-top: 0.5rem;
	font-weight: 500;
}
.project-links {
	display: flex;
	align-items: center;
	gap: 2rem;
}
.project-links .btn1{
	font-size: 1.2rem;
	padding: 10px 15px; 
	margin-top: 20px ;
}
.project-image-box {
	position: relative;
}

.project-img-link {
	display: block;
	width: 100%;
	height: 100%;
}
.project-img-link>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1.2rem 1.2rem 0 0;
}
.project-img-link>img:hover {
	transform: none;
}

/* -------------------------------------- Contact ----------------------------------- */

.contact h2{
	margin-bottom: 3rem;
}
.contact-info {
	background:var(--white-color);
	padding: 30px;
	width: 500px;
	box-shadow: 0 3px 10px 0 rgba(38, 59, 94, .1)
}
.contact-info h1 {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 20px
}
.contact-info p {
	font-size: 16px;
	text-align: justify;
}
.contact-info ul {
	margin-top: 30px;
	padding: 10px 0 0;
	list-style: none
}
.contact-info li {
	font-size: 18px;
	font-weight: 500;
	display: flex;
}
.contact-info li i {
	width: 35px;
	height: 35px;
	padding: 5px;
	color:var(--white-color);
	background-color: var(--main-color);
	font-size: 25px;
	border-radius: 50%;
}
.contact-info li i:hover{
	color:var(--white-color);
	background-color:var(--black-color) ;
}
.contact-info li span {
	padding-top: 4px;
	padding-left: 20px;
	color: var(--black-color);
}
.contact-info li+li {
	padding-top: 30px
}
.contact form {
	width: 700px;
	margin-left: 10rem;
}
.contact form .input-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
	width: 100%;
	padding: 1.5rem;
	font-size: 1.6rem;
	background: var(--bg-color);
	border-radius: 0.8rem;
	margin: 0.7rem 0;
	box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
	border: 1px solid var(--white-color);
}
.contact form .input-box input{
	width: 49%;
}
.contact form textarea {
	resize: none;
}
.contact form .btn{
	margin-top: 2rem;
	cursor: pointer;
	width: 700px;
}
/* ----------------------------Footer---------------------------- */
.footer{
	display: flex;
	background-color: var(--black-color);
	color: var(--white-color);
}
.social-icons{
	margin-left: 95px;
	padding: 20px 0;
}
.social-icons a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 50%;
	font-size: 2rem;
	color:  var(--white-color);
	margin-left: 10px;
	transition:0.5s ease;
	background-color: var(--main-color);
}
.social-icons a:hover {
	background:var(--white-color);
	color:var(--black-color);
}
.copyright p{
	font-size: 13px;
	margin-left: 880px;
	padding: 20px 0;
}
.copyright a{
	font-size: 15px;
	text-decoration: none;
	color:var(--main-color);
	font-weight: 600;
}

/* -------------------------------------- BreakPoint ----------------------------------- */

@media (max-width:1200px) {
	html{
		font-size: 55%;
	}
}
@media (max-width:1024px){
	
	section{
		padding: 10rem 3% 2rem;
	}
}
@media (max-width:991px){
	
	.navbar a.active::before{
		background: var(--main-color);
		opacity: 1;
	}
	.home .home-content{
		max-width: 50rem;
	}
	.home-img img{
		display: none
	}
	.contact{
		min-height: auto;
	}
}
@media (max-width:768px){
	#menu-icon{
		display: block;
	}
	/* .navbar{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: var(--bg-color);
		border-top: 0.1rem solid rgba(0,0,0,0.2);
		box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
		display: none;
	} */
	
	.home{
		padding: 0 1% 2rem;
		justify-content: center;
		text-align: center;
	}
	.home-content h3{
		font-size: 2.6rem;
	}
	.home-content h1{
		font-size: 5rem;
	}
	.home-content .social-media a{
		margin: 2.5rem .75rem;
	}
}
@media (max-width: 480px){
	html{
		font-size: 50%;
	}
	.header{
		padding: 2rem 3%;
	}
	.header #menu-icon{
		margin-top: 10px;
		font-size: 35px;
	}
	.navbar{
		position: absolute;
		top: 100%;
		left: 0;
		width: 28%;
		padding: 1rem 3%;
		background: var(--white-color);
		border-top: 0.1rem solid rgba(0,0,0,0.2);
		box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
		display: none;
	}
	.navbar.active{
		display: block;
	}
	.navbar a{
		display: block;
		font-size: 1.8rem;
		font-weight: 600;
		margin: 2rem 0;
		text-align: center;
		color: var(--black-color);
	}
	.navbar a:nth-child(1),
	.navbar a:nth-child(2){
		color: var(--black-color);
	}
	.navbar a.active {
		color: var(--main-color);
	}
	.navbar a::before {
		display: none;
	}
	.social-media{
		margin-left: -300px;
		margin-right: 10px;
		margin-top: 10px;
	}
	.home{
		padding: 0 3% 0.1rem;
	}
	
	.hexagon-container{
		display: none;
	}
	.about-col-1 img{
		width: 41rem;;
	}
	.about-col-2{
		flex-basis: 100%;
	}
	.sub-title{
		text-align: center;
		padding-top: 5rem;
		padding-bottom: 3rem;
		font-size: 3rem;
	}
	.contact form .input-box input{
		width: 100%;
	}
}

/*---------------------------- Meadia Query For Project Sestion -------------------------------- */

@media screen and (min-width: 720px) {
	.featured-projects-box {
	  flex-flow: row wrap;
	  justify-content: space-evenly;
	}
}
  
@media screen and (min-width: 1024px) {
.separator~.project {
	position: relative;
	min-width: 100%;
	gap: 2.5rem;
	margin-top: 4.5rem;
	background: none;
}
.separator~.project:nth-child(even) {
	flex-direction: row;
}
.separator~.project:nth-child(odd) {
	flex-direction: row-reverse;
	text-align: right;
}
.project {
	box-shadow: none;
}
.project-details-box {
	position: relative;
	margin-top: 3rem;
	padding: 0;
	max-width: 60%;
}
.project-main-info {
	position: relative;
	padding: 2rem;
	border-radius: 0.8rem;
	background: #FFF7DF;
	z-index: 1;
}
.project-main-info::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	bottom: 0;
	border-radius: 0.8rem;
	transform: skew(-15deg);
	background-color: #FFF7DF;
	z-index: -2;
}
.separator~.project:nth-child(even) .project-main-info::before {
	top: 0;
	left: 3.7rem;
}
.separator~.project:nth-child(odd) .project-main-info::before {
	top: 0;
	right: 3.7rem;
	bottom: 0;
	border-radius: 0.8rem;
	transform: skew(-10deg);
	background-color: #FFF7DF;
	z-index: -2;
}

.separator~.project:nth-child(odd) .project-links {
	justify-content: flex-start;
}

.separator~.project:nth-child(even) .project-image-box {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	align-self: stretch;
}

.separator~.project:nth-child(odd) .project-image-box {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	align-self: stretch;
}

.separator~.project.project3 .project-main-info::before {
	left: 3.7rem;
}

.project-tools p {
	display: inline-block;
}

.project-image-box::before {
	top: -3rem;
	bottom: 0;
	height: 120%;
}

.project-img-link>img {
	border-radius: 1.2rem;
}

.project-img-link>img:hover {
	transform: scale(1.05);
}

.notable-projects-box {
	width: 100%;
	flex-flow: row;
}

.side-project {
	max-width: 33.33%;
}

.img-box {
	position: relative;
	right: 0;
	top: -7.5rem;
}
}

@media screen and (min-width: 1440px) {
.project {
	height: 35rem;
}

.project-image-box {
	min-height: 100%;
}

.project-image-box img {
	height: 100%;
}
}