#home {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    background: #FFF7DF;
    height: 100vh;
    padding:0 8%;
}

#home:after {
    content: "";
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    position: absolute;
    top: -200px;
    left: -200px;
    background-color: var(--white-color);
    z-index: -1;
}

.home-content {
    width: 45%;
}

#user-detail-name, #user-detail-intro {
    margin-bottom: 20px;
    text-align: justify;
}

#user-detail-name {
    font-size: 2.5rem;
    font-weight: 700;
}

.home-content h1 span {
    color: var(--main-color); 
}

.home-img {
    width:300px;
}
.home-img img{
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 1199px) {
    #home{
        gap:  30px;
    }
    .home-img {
        width: 40%;
        height: 50vh;
    }
}

@media (max-width: 992px) {
    #home {
        align-items: center;
        height: auto;
        gap: 30px;
        padding-top: 10rem;
    }
    .home-content {
        width: 80%;
    }
    .home-img {
        width: 50%;
        height: 50vh;
    }
   
}

@media (max-width: 768px) {
    #home{
        flex-direction: column;
        margin-top: -50px;
    }
    .home-content {
        width: 90%;
    }
    .home-img {
        width: 80%;
        height: 75vh;
    }
}

@media (max-width: 576px) {
    .home-content {
        width: 100%;
    }
    .home-img{
        width: 90%;
    }
    .home-img {
        height: 65vh;
    }
}
