.skills-container {
    background-color: #FFF7DF;
    width: 100%;
    margin: auto;
    padding: 50px 0;
}

.skills-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    width: 50%;
    margin: auto;
}

.skills-card div {
    text-align: center;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.skills-card div:hover {
    transform: scale(1.1) translateY(-10px);
}

.skills-card img {
    width: 60px;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .skills-card {
        grid-template-columns: repeat(5, 1fr);
        width: 90%;
    }
}

@media (max-width: 768px) {
    .skills-card {
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
    }
}

@media (max-width: 480px) {
    .skills-container {
        padding: 50px 20px;
    }
    .skills-card {
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
    }
}
